<%= render 'layouts/header' %>

<%= render 'sections/main_banner' %>

<%= render 'sections/features' %>

<section id="section-newsletter" class="vc_row wpb_row vc_row-fluid newsletter vc_custom_1440595451487">
  <div class="container wpb_column vc_column_container">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1441340385309">
          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper text-center img-hover" style="margin-top: 6px">
                <%= image_tag 'google_play_button.png', :width => '350' %>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper text-center img-hover">
                <%= image_tag 'boton-donaciones.png', :width => '350' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'sections/galery' %>

<% # render 'sections/single_photo' %>

<% # render 'sections/slideshow' %>

<% # render 'sections/video' %>

<%= render 'sections/testimonials' %>

<%= render 'sections/faq' %>