<section id="section-gallery" class="vc_row wpb_row vc_row-fluid gallery text-center vc_custom_1441340933285">
  <div class="container wpb_column vc_column_container">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <h2 style="font-size: 60px;text-align: center" class="vc_custom_heading vc_custom_1440906521319">Galería</h2>
        <p style="text-align: center" class="vc_custom_heading lead">Entra a un mundo de posibilidades</p>
        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1441341051351">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="row">
                  <div id="gallery-items">
                    <div class="col-lg-3 col-md-4 col-xs-12 gallery-item gallery-popup all post-132 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-gallery">
                      <figure>
                        <%= image_tag 'gallery/gallery_1.jpg', :alt => 'gallery-image', :title => 'gallery-image', :class => 'img-responsive' %>
                        <!-- <div class="item-hover"><a href="portfolio/we-love-galleries/index.html">View Details</a></div> -->
                      </figure>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-12 gallery-item gallery-popup all post-131 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-web-design">
                      <figure>
                        <%= image_tag 'gallery/gallery_2.jpg', :alt => 'gallery-image', :title => 'gallery-image', :class => 'img-responsive' %>
                        <!-- <div class="item-hover"><a href="portfolio/we-love-galleries/index.html">View Details</a></div> -->
                      </figure>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-12 gallery-item gallery-popup all post-130 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-video">
                      <figure>
                        <%= image_tag 'gallery/gallery_3.jpg', :alt => 'gallery-image', :title => 'gallery-image', :class => 'img-responsive' %>
                        <!-- <div class="item-hover"><a href="portfolio/we-love-galleries/index.html">View Details</a></div> -->
                      </figure>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-12 gallery-item gallery-popup all post-129 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-web-design">
                      <figure>
                        <%= image_tag 'gallery/gallery_4.jpg', :alt => 'gallery-image', :title => 'gallery-image', :class => 'img-responsive' %>
                        <!-- <div class="item-hover"><a href="portfolio/we-love-galleries/index.html">View Details</a></div> -->
                      </figure>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-12 gallery-item gallery-popup all post-126 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-gallery">
                      <figure>
                        <%= image_tag 'gallery/gallery_5.jpg', :alt => 'gallery-image', :title => 'gallery-image', :class => 'img-responsive' %>
                        <!-- <div class="item-hover"><a href="portfolio/we-love-galleries/index.html">View Details</a></div> -->
                      </figure>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-12 gallery-item gallery-popup all post-125 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-web-design">
                      <figure>
                        <%= image_tag 'gallery/gallery_6.jpg', :alt => 'gallery-image', :title => 'gallery-image', :class => 'img-responsive' %>
                        <!-- <div class="item-hover"><a href="portfolio/we-love-galleries/index.html">View Details</a></div> -->
                      </figure>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-12 gallery-item gallery-popup all post-124 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-video">
                      <figure>
                        <%= image_tag 'gallery/gallery_7.jpg', :alt => 'gallery-image', :title => 'gallery-image', :class => 'img-responsive' %>
                        <!-- <div class="item-hover"><a href="portfolio/we-love-galleries/index.html">View Details</a></div> -->
                      </figure>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-12 gallery-item gallery-popup all post-122 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-video">
                      <%= image_tag 'gallery/gallery_8.jpg', :alt => 'gallery-image', :title => 'gallery-image', :class => 'img-responsive' %>
                      <!-- <div class="item-hover"><a href="portfolio/we-love-galleries/index.html">View Details</a></div> -->
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>